@{
    ViewData["Title"] = "Home Page";
}

<div class="panel-wrap">
    <div class="panel-wrapper">
        <div class="panel marLeft30">
            <div class="img"><img src="images/img-1.jpg" /></div>
            <div class="title">
                <h1>

                    لورم ایپسوم یا طرح‌نما
                </h1>
            </div>
            <div class="border"></div>
            <div class="content">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                <div class="button-link">
                    <a href="#">
                        ادامه مطلب
                    </a>
                </div>
            </div>
        </div>
        <div class="panel marLeft30">
            <div class="img"><img src="images/img-2.jpg" /></div>
            <div class="title">
                <h1 class="border-bottom">

                    لورم ایپسوم
                </h1>
            </div>
            <div class="border"></div>
            <div class="content">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.<br />
                </p>
                <div class="button-link">
                    <a href="#">
                        ادامه مطلب
                    </a>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="img"><img src="images/img-3.jpg" /></div>
            <div class="title">
                <h1 class="border-bottom">

                    لورم ایپسوم
                </h1>
            </div>
            <div class="border"></div>
            <div class="content">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                <div class="button-link">
                    <a href="#">
                        ادامه مطلب
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--- panel wrap div end -->
<div class="clearing"></div>
<div class="page-wrap">
    <div class="top-content">
        <h1>

            لورم ایپسوم یا طرح‌نما
        </h1>
        <div class="top-border"></div>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
        <div class="bottom-border"></div>
        <div class="button-link">
            <a href="#">
                ادامه مطلب
            </a>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="primary-content marLeft30 ">
            <div class="toppanel">
                <div class="container">
                    <h1>

                        لورم ایپسوم یا طرح‌نما
                    </h1>
                    <div class="border-bottom"></div>
                    <div class="container-wrap">
                        <div class="container-panel padBottom">
                            <div class="container-panel-right marLeft20"><img src="images/icon-1.png"></div>
                            <div class="container-panel-left">
                                <h3>

                                    لورم ایپسوم یا طرح‌نما
                                </h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط </p>
                            </div>
                        </div>
                        <div class="container-panel borderNone marginTop">
                            <div class="container-panel-right marLeft20"><img src="images/icon-3.png"></div>
                            <div class="container-panel-left">
                                <h3>

                                    لورم ایپسوم یا طرح‌نما
                                </h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-wrap borderNone">
                    <div class="container-panel marRight20 padBottom">
                        <div class="container-panel-right marLeft20"><img src="images/icon-2.png"></div>
                        <div class="container-panel-left">
                            <h3>

                                لورم ایپسوم یا طرح‌نما
                            </h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        </div>
                    </div>
                    <div class="container-panel borderNone marginTop marRight20">
                        <div class="container-panel-right marLeft20"><img src="images/icon-4.png"></div>
                        <div class="container-panel-left">
                            <h3>

                                لورم ایپسوم یا طرح‌نما
                            </h3>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ<br />
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mid-panel marginTop">
                <div class="mid-panel-content">
                    <div class="title">
                        <h1>لورم ایپسوم یا طرح‌نما</h1>
                    </div>
                    <div class="border"></div>
                    <h2>لورم ایپسوم یا طرح‌نما</h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                    <div class="img marLeft20"> <img src="images/img-4.jpg" /> </div>
                    <div class="img marLeft20"> <img src="images/img-5.jpg" /> </div>
                    <div class="img"> <img src="images/img-6.jpg" /> </div>
                </div>
            </div>
            <div class="mid-panel marginTop">
                <div class="mid-panel-content ">
                    <div class="title">
                        <h1>لورم ایپسوم یا طرح‌نما</h1>
                    </div>
                    <div class="border"></div>
                    <h2>لورم ایپسوم یا طرح‌نما</h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                    <p class="padBottom">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="search-panel">
                <div class="content">
                    <div class="title">
                        <h1>لورم ایپسوم یا طرح‌نما</h1>
                    </div>
                    <div class="border"></div>
                    <h2>
                        جستجو در سایت اینجا...
                    </h2>
                    <div class="searchbox">
                        <input type="text" class="input" value="" />
                        <div class="button"><a href="#"></a></div>
                    </div>
                </div>
            </div>
            <div class="midpanel">
                <div class="content marginBottom">
                    <div class="title">
                        <h1>

                            لورم ایپسوم یا طرح‌نما
                        </h1>
                    </div>
                    <div class="border"></div>
                    <ul>
                        <li><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی </a></li>
                        <li><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a></li>
                        <li><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a></li>
                        <li><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی </a></li>
                        <li><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a></li>
                        <li><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a></li>
                        <li class="borderNone padBottom20"><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a></li>
                    </ul>
                </div>
            </div>
            <div class="midpanel">
                <div class="content">
                    <div class="title">
                        <h1>

                            لورم ایپسوم یا طرح‌نما
                        </h1>
                    </div>
                    <div class="border"></div>
                    <div class="container">
                        <div class="right marRigth20">
                            <h2>طرح‌نما</h2>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                        </div>
                        <div class="img">
                            <img src="images/img-7.jpg" />
                        </div>
                    </div>
                    <div class="container">
                        <div class="right">
                            <h2>طرح‌نما</h2>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                        </div>
                        <div class="img"><img src="images/img-8.jpg" /></div>
                    </div>
                    <div class="container borderNone">
                        <div class="right">
                            <h2>طرح‌نما</h2>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                        </div>
                        <div class="img"><img src="images/img-9.jpg" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
